@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background-start: #d6dbdc;
  --background-end: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background-start: #232323;
    --background-end: #010101;
  }
}
hmtl,
body {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}
body {
  color: var(--foreground);
  background: linear-gradient(to bottom, transparent, var(--background-end))
    var(--background-start);
  font-family: "Courier New", Courier, monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.input {
  @apply w-full rounded p-2 bg-transparent focus:outline-none border focus-within:border-blue-500;
}
.scrolly::-webkit-scrollbar {
  width: 4px;
}
.scrolly::-webkit-scrollbar-thumb {
  background-color: rgb(247, 0, 0);
  border-radius: 6px;
}
.scrolly::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.178);
}
